body {
    background-color: white;
    margin: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.islam-img {
    display: block;
    width: 150px;
}

.card-info {
    display: flex;
    background-color: #ddebf8;
    width: 400px;
    /* margin-left: auto;
    margin-right: auto; */
    margin: 0 auto;
    padding: 20px;
    justify-content: space-around;
    border-bottom: 7px solid #d8cefe;
    color: #2b2839;
    text-align: center;
}

/* .info{
    padding: 30px
} */

